name: Publish Extension

on:
  create:
    tags:
      - v*
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 14.x
      uses: actions/setup-node@v1
      with:
        node-version: 14.x
    - name: "Install Deps"
      run: npm ci
    - name: Compile
      run: npm run compile
    - name: Publish to marketplace
      run: npm run deploy
      env:
        VSCE_PAT: $
